coverage/
lib/
node_modules/
public/
reports/demo/webpack
reports/demo/e2e
reports/lib/
**/__e2e__/*.js
**/__e2e__/*.js.map
*.d.ts
!**/__e2e__/global.d.ts
!./index.d.ts
!demo/global.d.ts
!demo/state.d.ts
!src/global.d.ts
!types/**/*.d.ts
package-lock.json
selenium-debug.log
util/*.js
util/*.js.map
yarn-error.log
.idea
npm-debug.log
node_modules
dist/*
!dist/index.html
.vscode
